@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html {
    font-family: 'Lato', sans-serif;
  }

  :root {
    
    --color-text-base: #dc2626;
    --color-text-base-dark: #dc2626;
    --color-text-muted: #4a4e56;
    --color-text-muted-dark: #6b7280;
    --color-text-inverted: #ffffff;
    --color-text-inverted-dark: #ffffff;
    --color-fill: #dc2626;
    --color-fill-dark: #dc2626;
    --color-fill-hover: #941717;
    --color-fill-hover-dark: #941717;
    --color-fill-wrapper: #e5e7eb;
    --color-fill-wrapper-dark: #111827;
    --color-fill-muted: #bdbdbd;
    --color-fill-muted-dark: #0c1120;
    --color-button-accent: #201d1d;
    --color-button-accent-dark: #201d1d;
    --color-button-accent-hover: #ffffff;
    --color-button-accent-hover-dark: #ffffff;
    --color-button-muted: #ffffff;
    --color-button-muted-dark: #ffffff;
    --color-border-base: #dc2626;
    --color-border-base-dark: #dc2626;
    --color-border-muted: #6b7280;
    --color-border-muted-dark: #6b7280;
  }

  .cool-blue {
    --color-text-base: #2563eb;
    --color-text-base-dark: #2563eb;
    --color-text-muted: #4a4e56;
    --color-text-muted-dark: #6b7280;
    --color-text-inverted: #ffffff;
    --color-text-inverted-dark: #ffffff;
    --color-fill: #2563eb;
    --color-fill-dark: #2563eb;
    --color-fill-hover: #194ab4;
    --color-fill-hover-dark: #194ab4;
    --color-fill-wrapper: #e5e7eb;
    --color-fill-wrapper-dark: #111827;
    --color-fill-muted: #bdbdbd;
    --color-fill-muted-dark: #0c1120;
    --color-button-accent: #201d1d;
    --color-button-accent-dark: #201d1d;
    --color-button-accent-hover: #ffffff;
    --color-button-accent-hover-dark: #ffffff;
    --color-button-muted: #ffffff;
    --color-button-muted-dark: #ffffff;
    --color-border-base: #2563eb;
    --color-border-base-dark: #2563eb;
    --color-border-muted: #6b7280;
    --color-border-muted-dark: #6b7280;
  }

  .royal-purple {
    --color-text-base: #812ee0;
    --color-text-base-dark: #812ee0;
    --color-text-muted: #4a4e56;
    --color-text-muted-dark: #6b7280;
    --color-text-inverted: #ffffff;
    --color-text-inverted-dark: #ffffff;
    --color-fill: #812ee0;
    --color-fill-dark: #812ee0;
    --color-fill-hover: #611ead;
    --color-fill-hover-dark: #611ead;
    --color-fill-wrapper: #e5e7eb;
    --color-fill-wrapper-dark: #111827;
    --color-fill-muted: #bdbdbd;
    --color-fill-muted-dark: #0c1120;
    --color-button-accent: #201d1d;
    --color-button-accent-dark: #201d1d;
    --color-button-accent-hover: #ffffff;
    --color-button-accent-hover-dark: #ffffff;
    --color-button-muted: #ffffff;
    --color-button-muted-dark: #ffffff;
    --color-border-base: #812ee0;
    --color-border-base-dark: #812ee0;
    --color-border-muted: #6b7280;
    --color-border-muted-dark: #6b7280;
  }

  .popping-pink {
    --color-text-base: #cf4ba8;
    --color-text-base-dark: #cf4ba8;
    --color-text-muted: #4a4e56;
    --color-text-muted-dark: #6b7280;
    --color-text-inverted: #ffffff;
    --color-text-inverted-dark: #ffffff;
    --color-fill: #cf4ba8;
    --color-fill-dark: #cf4ba8;
    --color-fill-hover: #8b266d;
    --color-fill-hover-dark: #8b266d;
    --color-fill-wrapper: #e5e7eb;
    --color-fill-wrapper-dark: #111827;
    --color-fill-muted: #bdbdbd;
    --color-fill-muted-dark: #0c1120;
    --color-button-accent: #201d1d;
    --color-button-accent-dark: #201d1d;
    --color-button-accent-hover: #ffffff;
    --color-button-accent-hover-dark: #ffffff;
    --color-button-muted: #ffffff;
    --color-button-muted-dark: #ffffff;
    --color-border-base: #cf4ba8;
    --color-border-base-dark: #cf4ba8;
    --color-border-muted: #6b7280;
    --color-border-muted-dark: #6b7280;
  }

}

/*
 CSS for the main interaction
*/
.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
  }
  
  .accordion label {
    display: block;
  }
  
  /*
   Styling
  */  
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border-top: 0;
  }
  
  .accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
  }
  
  .accordion label {
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
  }
  

  
  .accordion .handle label:before {
    font-family: 'fontawesome';
    content: "\f054";
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "\f078";
  }
  

  input#date {
    display: inline-block;
    position: relative;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

input#time_start {
  display: inline-block;
  position: relative;
}

input[type="time"]#time_start::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input#time_end {
  display: inline-block;
  position: relative;
}

input[type="time"]#time_end::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

/* Tailwind Override */
.trix-editor {
  width: 100%;
}

.trix-editor h1 {
  font-size: 2em !important;
  line-height: 2em !important;
  margin-bottom: 1rem;
  font-weight: 600;
}

.trix-editor a:not(.no-underline) {
  text-decoration: underline;
}

.trix-editor a:visited {
  color: green;
}

.trix-editor ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trix-editor ol {
  list-style-type: decimal;
  padding-left: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trix-editor pre {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: monospace;
  font-size: 1.5em;
  padding: 0.5em;
  white-space: pre;
  background-color: #eee;
  overflow-x: auto;
}

.trix-editor blockquote {
  border: 0 solid #ccc;
  border-left-width: 0px;
  border-left-width: 0.3em;
  margin-left: 0.3em;
  padding-left: 0.6em;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-border-base) transparent transparent transparent;
}

@media (prefers-color-scheme: dark) {
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--color-border-base-dark) transparent transparent transparent;
  }
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}