canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#donationBanner{
  color: white;
}

#donationBanner + a{
  color: rgb(156, 156, 156) !important;
  font-weight: bold;
}